<?xml version="1.0" encoding="utf-8" ?>
<!--

    ***************************************************************************
    NLOG Konfiguration
    ***************************************************************************

    Um Intellisense zu verwenden, muss im Menü XML -> Schemas die Datei NLog.xsd
    hinzugefügt und zur Verwendung aktiviert werden.

    Historie:
    25.04.2017 Monnier
    - Einfache Standardkonfiguration fürs Protokollieren in Textdateien.
    - Variable für die flexible Angabe des Ausgabeverzeichnis von Protokolldateien.
-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="baseFileDirectory" value="../Log" />

  <targets>
    <target name="infoFile" xsi:type="File" fileName="${baseFileDirectory}/info.txt"
      archiveFileName="${baseFileDirectory}/info.{#}.txt" archiveAboveSize="1048576" maxArchiveFiles="5" archiveNumbering="Rolling" archiveEvery="Day" />
    <target name="traceFile" xsi:type="File" fileName="${baseFileDirectory}/trace.txt"
      archiveFileName="${baseFileDirectory}/trace.{#}.txt" archiveAboveSize="1048576" maxArchiveFiles="5" archiveNumbering="Rolling" archiveEvery="Day" />
    <target name="warnFile" xsi:type="File" fileName="${baseFileDirectory}/warn.txt"
      archiveFileName="${baseFileDirectory}/warn.{#}.txt" archiveAboveSize="1048576" maxArchiveFiles="5" archiveNumbering="Rolling" archiveEvery="Day" />
    <target name="debugger" xsi:type="Debugger" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="traceFile" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Warn" writeTo="warnFile" />
    <logger name="*" minlevel="Info" writeTo="infoFile" />
  </rules>

</nlog>

